<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeistech.android.favorite_collection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.lifeistech.android.favorite_collection.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_02"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".activity.AddFavActivity"
            android:label="@string/title_activity_add_fav"></activity>
        <activity
            android:name=".activity.FavTweetListActivity"
            android:label="@string/title_activity_tweet_list" />
        <activity
            android:name=".activity.TweetActivity"
            android:label="@string/title_activity_tweet" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9293fd367f65a0add5c0cf95f6b08d8fcae0c921" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Tweet.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.lifeistech.android.twittertest.model.Category" />
    </application>

</manifest>
